body {
  background-color: #e5e5e5;
  font-family: "Montserrat Alternates", sans-serif;
}

.about-me-profession {
  font-size: 14px;
  color: black;
}

li {
  color: blue;
}

.projects-section_li {
  color: brown;
  font-size: 25px;
}

#firstElement {
  color: green;
}

.about-me-section {
  background-color: black;
}

.work-experience-section {
  background-color: yellow;
}

.sidebar-section {
  background-color: #1e2939;
}
