body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.about-me-profession {
  font-size: 14 px;
  color: black;
}

li {
  color: blue;
}

.projects-section__li {
  color: brown;
  font-size: 25px;
}

#firstelement {
  color: green;
}
.main-section {
  display: flex;
  flex-direction: row-reverse;
}
.about-me-section {
  background-color: red;
}
.work-experience-section {
  background-color: aqua;
}
.side-bar-sections {
  background-color: #1e2939;
}
